<div class="card mt-5" style="width: 1000px">
  <div class="card-body">
    <h6 class="text-center">Lista de usuarios</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td>
            <a class="btn btn-danger text-white" (click)="onRemoveCRUD(user.$key)">
                <i class="far fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>